
<ion-content [fullscreen]="true">

  <div class="login">

    <img src="../../../assets/icon_credito_png.png" alt="Logo" style="max-width: 50%; max-height: 50%; margin: auto;
    display: block; margin-top: 50px; margin-bottom: 30px;">

    <ion-card class="login">

      <h1>Inicio de Sesión</h1>
      <div *ngIf="this.cargaFin == true; then mostrar else esperar"></div>

      <ng-template #mostrar>
        <ion-select label="Acceso rápido" fill="outline" interface="action-sheet" (ionChange)="onQuickUser($event)">
          <ion-select-option *ngFor="let item of arrayTestUsers" [value]="item">{{item.perfil}}</ion-select-option>
        </ion-select>
      </ng-template>

      <ng-template #esperar>
        <ion-select label="Cargando..." fill="outline"></ion-select>
      </ng-template>
      
      <form class="needs-validation" [formGroup]="formLog">
        <ion-input label="Correo:" type="email" fill="outline" formControlName="email"></ion-input>
        <ion-input label="Clave:" type="password" fill="outline" formControlName="password"></ion-input>
        <ion-button shape="round" (click)="this.iniciarSesion()">Ingresar</ion-button>
      </form>  
    </ion-card>
  </div>
</ion-content>
