<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido: {{ nombre }}
    </ion-title>
    <ion-icon name="log-out" size="large" (click)="cerraSesion()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <div id="creditos">
      <h1>Créditos: {{ creditos }}</h1>
      <ion-button (click)="scan()" [disabled]="!(this.scanAvailable && this.scanSupported)">
        Escanear
      </ion-button>
    </div>
    <ion-button color="medium" (click)="vaciarCreditos()" [disabled]="(this.creditos == 0)">
      Vaciar créditos
    </ion-button>
  </div>
</ion-content>
